# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docker_mongodb/data/_mdb_catalog.wt
docker_mongodb/data/collection-0-1421467319450696840.wt
docker_mongodb/data/collection-0-7294952960043580326.wt
docker_mongodb/data/collection-2-1421467319450696840.wt
docker_mongodb/data/collection-4-1421467319450696840.wt
docker_mongodb/data/collection-7-1421467319450696840.wt
docker_mongodb/data/index-1-1421467319450696840.wt
docker_mongodb/data/index-1-7294952960043580326.wt
docker_mongodb/data/index-3-1421467319450696840.wt
docker_mongodb/data/index-5-1421467319450696840.wt
docker_mongodb/data/index-6-1421467319450696840.wt
docker_mongodb/data/index-8-1421467319450696840.wt
docker_mongodb/data/index-9-1421467319450696840.wt
docker_mongodb/data/mongod.lock
docker_mongodb/data/sizeStorer.wt
docker_mongodb/data/storage.bson
docker_mongodb/data/WiredTiger
docker_mongodb/data/WiredTiger.lock
docker_mongodb/data/WiredTiger.turtle
docker_mongodb/data/WiredTiger.wt
docker_mongodb/data/WiredTigerHS.wt
docker_mongodb/data/.mongodb/mongosh/63427a7d72d363af46b8b34f_log
docker_mongodb/data/.mongodb/mongosh/63427a7f456e6a96ece21f19_log
docker_mongodb/data/.mongodb/mongosh/63427a81c0e7358032085f24_log
docker_mongodb/data/.mongodb/mongosh/config
docker_mongodb/data/.mongodb/mongosh/mongosh_repl_history
docker_mongodb/data/.mongodb/mongosh/snippets/index.bson.br
docker_mongodb/data/.mongodb/mongosh/snippets/package.json
docker_mongodb/data/diagnostic.data/metrics.2022-10-09T07-38-36Z-00000
docker_mongodb/data/diagnostic.data/metrics.2022-10-09T07-38-46Z-00000
docker_mongodb/data/journal/WiredTigerLog.0000000002
docker_mongodb/data/journal/WiredTigerPreplog.0000000001
docker_mongodb/data/journal/WiredTigerPreplog.0000000002
